<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Todos</title>

</head>
<body>
<p>All ToDo Lists of <span th:text="${userName}"></span></p>
<table border="2">
    <tr>
        <th>No.</th>
        <th>Id</th>
        <th >Title</th>
        <th>Created At</th>
        <th>Owner</th>
        <th colspan="2">Operations</th>
    </tr>

    <tr th:each="todo: ${todos}">
        <td th:text="${counter.getCounter()}"></td>
        <td th:text="${todo.getId()}"></td>
        <td><a th:href="@{/tasks/all/{user_id}/{todo_id}(user_id=${userID},todo_id=${todo.getId()})}" th:text="${todo.getTitle()}" /></td>
        <td th:text="${todo.getCreatedAt()}"></td>
        <td th:text="${todo.getOwner().getFirstName() + ' ' + todo.getOwner().getLastName()}"></td>

        <td>
            <a th:href="@{/todos/{id}/update/{id_user}(id=${todo.getId()},id_user=${userID})}">Update</a>
        </td>
        <td>
            <a th:href="@{/todos/{id}/delete/{id_user}(id=${todo.getId()},id_user=${userID})}">Remove</a>
        </td>
    </tr>
</table>
<!--<p><a href="/todos/create/{id_user}(id_user=${userID})">create new ToDo</a></p>-->
<p><a th:href="@{/todos/create/{user_id}(user_id=${userID})}" />Create new ToDo</p>
</body>
</html>