<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update existing To-Do</title>
</head>
<body>
<form th:action="@{/todos/update/{id}(id =${id_user})}" th:object="${todo}" method="post">
    <p> Title: <input type="text" th:field="*{title}"/></p>
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{createdAt}"/>
    <input type="hidden" th:field="*{owner}"/>
    <input type="submit" value="Update" id="create-btn">
    <input type="reset" value="Clear" id="clear-btn">
</form>
</body>
</html>