<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
</head>
<body>


<table border="2">
    <tr>
        <th>No.</th>
        <th>Id</th>
        <th>Full Name</th>
        <th>E-mail</th>
        <th colspan="2">Operations</th>
    </tr>

    <tr th:each="user: ${users }">

        <td th:text="${counter.getCounter()}"></td>
        <td th:text="${user.getId()}"></td>


       <td><a th:href="@{/todos/all/{id}/(id=${user.getId()})}" th:text="${user.getFirstName() + ' '+ user.getLastName()} " /></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{/users/{id}/delete(id=${user.getId()})}">Remove</a>
        </td>
        <td>
            <a th:href="@{/users/{id}/update(id=${user.getId()})}">Update</a>
        </td>

    </tr>
</table>

<a href="/users/create">Create User</a>


</body>
</html>